/* /*
Colors
#16a84a;
#91d940;
#5f91ff;
#402a0f;
#ebe560;

Fonts:
Heading: Ubuntu
Body: Lora
*/

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Lora:400,700,700i|Ubuntu:400,700');



img {
  max-width:  200px;
}

/* Text */
